<p style="color: green"><%= notice %></p>

<%= render @active_ingredient %>

<div>
  <%= link_to "Edit this active ingredient", edit_active_ingredient_path(@active_ingredient) %> |
  <%= link_to "Back to active ingredients", active_ingredients_path %>

  <%= button_to "Destroy this active ingredient", @active_ingredient, method: :delete %>
</div>
